[user]
    email = alibellows@gmail.com
	name = Allison Bellows
[credential]
    helper = cache
[core]
    excludesfile = ~/.gitignore_global
    editor=vim
	compression = 0
[pretty]
    prettyshort = format:%C(auto,yellow)%h %C(auto,blue)%<(12,trunc)%ar %C(auto,green)%<(7,trunc)%aN %C(auto,reset)%s%C(auto,red)% gD% D
[push]
    autoSetupRemote = true
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[http "https://chromium.googlesource.com/"]
	version = HTTP/1.1
	postBuffer = 524288000
