[user]
    email = alibellows@gmail.com
    name = Allison
[credential]
    helper = cache
[core]
    editor=vim
[pretty]
    prettyshort = format:%C(auto,yellow)%h %C(auto,blue)%<(12,trunc)%ar %C(auto,green)%<(7,trunc)%aN %C(auto,reset)%s%C(auto,red)% gD% D
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
